{% extends "layout.html" %}

{% block title %}
    
input

{% endblock %}

{% block body %}

<form action = "/input" method = "post">
    <div>
        <input type = "radio" id = "f" name = "input_type" value = "f">
        <label for = "f">FILE</label><br>
        <input type = "radio" id = "t" name = "input_type" value = "t">
        <label for = "t">TEXT</label><br>
    </div>
    <div>
        <input input autocomplete ="off" autofocus type = text id = "text" name = "input">
    </div>
    <div>
        <input type = "submit" value = "Submit">
    </div>
</form>

{% endblock %}