{% extends "layout.html" %}

{% block title %}

uncommon

{% endblock %}

{% block body %}

<h2> Create custom card</h2>

<h3> {{word}}</h3>

<form action="/input_meaning" method="post">
    <div>
        <input type="radio" id="common" name="common" value="common">
        <label for="common">Common</label><br>
        <input type="radio" id="common" name="common" value="uncommon">
        <label for="uncommon">Uncommon</label><br>
        <input type="radio" id="common" name="common" value="null">
        <label for="null">Blacklist word</label><br>
    </div>
    <input autocomplete="off" type="text" name="definition" placeholder="definition">
    <input autocomplete="off" type="text" name="frequency" placeholder="frequency">
    <input autocomplete="off" type="text" name="example" placeholder="example">
    <input autocomplete="off" type="text" name="part" placeholder="part of speech">
    <input type="submit" value="Submit">
</form>

{% endblock %}