{% extends "layout.html" %}

{% block title %}
mainpage
{% endblock %}

{% block body %}

<meta id="user_id" data-name="{{session[user_id]}}">
<table style="align-items: center;">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>author</th>
            <th>date</th>
            <th>medium</th>
            <th>genre</th>
            <th>progress</th>
            <th>weighted progress</th>
            <th>size</th>
            <th>edit deck</th>
            <th>view contents</th>
        </tr>
    </thead>
    <tbody>
        {% for row in display %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }} </td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.12 }}</td>
            <td>{{ row.14 }}</td>
            <td>{{ row.15 }}</td>
            <td>
                <form action="edit_deck" method="post">
                    <input name="deck_id" type="hidden" value="{{ row.0 }}">
                    <button type="submit">Edit Deck</button>
                </form>
            </td>
            <td>
                <form action="view_deck" method="post">
                    <input name="deck" type="hidden" value="{{ row.0 }}">
                    <button type="submit">View</button>
                </form>     
            </td>
            </tr>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="margin-top: 50px;">
    This application allows you to create flashcards from sample texts quickly and easily and review them with a spaced repetition algorithm
</div>

{% endblock %}